@use '@shawnsandy/first-paint/src/styles/critical.scss';
@use 'tokens.scss';

body {
  border-left: tokens.$primary-blue solid 0.5rem;
}

.primary {
  color: tokens.$primary !important;
}

h1,
h2,
h3,
h4,
h5 {
  @extend .primary;
}

footer[role="contentinfo"] {
  font-size: 0.9rem;

  nav {
    flex-direction: column;
  }
}
