@use '@shawnsandy/first-paint/src/styles/critical.scss';
@use 'tokens.scss';

body {
  border-left: tokens.$primary-blue solid 0.5rem;
}

a {
  &:any-link,
  &:any-link:active,
  &:any-link:visited {
    color: tokens.$primary-blue;
    text-decoration: none;
    text-transform: capitalize;
  }
  &:any-link:hover {
    color: darken(tokens.$primary-blue, 20%);
    // text-decoration: underline;
  }
}

header,
.border {
  border-color: lighten(tokens.$primary-blue, 10%) !important;
  border-style: dotted !important;
  border-bottom: none !important;
  border: none !important;
}

body > header {
  background-image: url(/images/feature-bg@2x.png);
  background-size: cover;
  [role='banner'] {
    text-shadow: rgba(62, 66, 66, 0.4) 0px 10px 24px;
  }
}

.primary {
  color: tokens.$primary !important;
}

h1,
h2,
h3,
h4,
h5 {
  @extend .primary;
}
main {
  img[alt] {
    padding: 0.5rem;
    background-color: tokens.$bg-color;
  }
}

main,
section {
  a[role='button'] > em {
    display: flex;
    justify-content: space-between;
    border: tokens.$primary-blue solid 0.19rem;
    &:hover,
    &:focus {
      color: #fff;
      background-color: tokens.$primary-blue;
      border-color: transparent;
      text-decoration: none;
    }
  }

  padding-right: calc(80rem / 16);
}

p {
  i {
    font-style: italic;
  }
  strong {
    font-weight: 500;
  }
}

.bg-section {
  background-image: url(images/feature-bg@2x.png);
  text-align: center;
  padding: calc(60rem / 16);
  max-width: 70%;
  margin: auto;
  h3 {
    font-weight: 500;
  }
}

.bio {
  padding: 2rem;
  background-color: tokens.$bg-color-light;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

footer[role='contentinfo'] {
  font-size: 0.9rem;

  nav {
    flex-direction: column;
  }
  background-color: tokens.$bg-color;
  color: #fff;
  a {
    &:any-link,
    &:any-link:active,
    &:any-link:visited {
      color: #fff;
      text-decoration: none;
    }
    &:any-link:hover {
      color: darken(#fff, 20%);
      text-decoration: underline;
    }
  }
}
