{% for content in collections[category] | reverse %}
  <article>
    <time datetime="{{ content.date }}">
      <i class="ti ti-calendar-event"></i>
      {# {{ hlp.11ty.timeAgo(content.date) }} #}
      {{ hlp.11ty.formattedDate(content.date) }}
    </time>
    <h3 id="{{ content.data.title | slug }}">
      <a href="{{ content.url }}">{{ content.data.title }}</a>
    </h3>
    <p>{{ content.data.description or hlp.11ty.stripHtml(content.templateContent) |
    truncate(300) | safe }}</p>
    <footer>
      <a href="{{ content.url }}" role="button">
        <em>Continue reading
          <i class="ti ti-arrow-right"></i>
        </em>
      </a>
      <div></div>
    </footer>
    <hr/>
  </article>
{% endfor %}
