{%- macro featured(tag = 'posts', limit = 3) -%} {%- set feature =
hlp.11ty.take(collections[tag], limit) -%}
<!-- {{ feature | length | log }} -->

<section>
  <div role="list">
    {%- for item in feature %}
    <div role="listitem">
      <h3>
        <i class="fad fa-atom-alt"></i>
        {{ item.data.title }}
      </h3>
      <p>
        {% if item.data.summary.length -%}
        {{ item.data.summary |
    truncate(250) }}
        {% else %}
        {{ hlp.11ty.noHtml(item.templateContent) |
    truncate(50) }}
        {% endif -%}
      </p>
    </div>
    {%- endfor %}
  </div>
</section>
<hr />
{%- endmacro -%}
