<footer role="contentinfo" class="dark-bg text-light">
  <div class="text-center" style="text-align: center">
    <nav>
      <section>
        <span>
          <ul>
            <li>
              <a href="/tokens" title="Color tokens">Color</a>
            </li>
            <li>
              <a href="/fonts" title="Font Tokens">Fonts</a>
            </li>
            <li>
              <a href="/components" title="View components">Components</a>
            </li>
            <li>
              <a href="/docs">Guide</a>
            </li>
            <li>
              <a href="/changelog">Changes</a>
            </li>
            <li>
              <a href="{{ pkg.homepage }}" target="_blank" rel="noopener">Github</a >
            </li>
          </ul>
        </span>
      </section>
    </nav>
  </div>

  <div>
    <section>
      <p>
        Copyright &copy;
        {{ hlp.11ty.year() }}
        {{ settings.author.name }}
        All rights reserved
      </p>
    </section>
  </div>
  {% if env.node_env == 'development' %}
    <div style="text-align: center">
      <p>NODE ENV
        {{ env.node_env }}</p>
    </div>
  {% endif %}
</footer>
