<footer role="contentinfo" class="dark-bg text-light">
  <div class="text-center" style="text-align: center">
    <nav>
      <section>
        <span>
          <ul>
            {% include "partials/nav-list.njk" %}
          </ul>
        </span>
      </section>
    </nav>
  </div>

  <div>
    <section>
      <p>
        Copyright &copy;
        {{ hlp.11ty.year() }}
        {{ settings.author.name }}
        All rights reserved
      </p>
    </section>
  </div>
  {% if env.node_env == 'development' %}
    <div style="text-align: center">
      <p>NODE ENV
        {{ env.node_env }}</p>
    </div>
  {% endif %}
</footer>
