<section role="banner" class="primary">
  <div>
    <h2>"{{ settings.subtitle }}"</h2>
    <!-- <h5>
      {{ settings.description }}
    </h5> -->
    <p>
      <a href="/developers/01/" role="button" title="Read the documentation">
        <em>Read the Docs</em>
      </a>
    </p>
  </div>
</section>
