{% set navPages = collections.all | eleventyNavigation %}
{%- for entry in navPages %}
  <li>
    <a href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="current item" {% endif %}>{{ entry.title }}</a>
  </li>
{%- endfor %}
{% if env.developer_mode === true %}
  <li>
    <a href="/developers">Developers</a>
  </li>
  <li>
    <a href="/drafts">Drafts</a>
  </li>
{% endif %}
