{% set image = hlp.sharp.coverImage(coverImage) or 'og-cover.png' %} <meta property="og:title" content="{{ title or settings.title }}"/>
<meta property="og:description" content="{{ subtitle or settings.description }}"/>
<meta property="og:type" content="{{ type or 'website' }}"/>
<meta property="og:url" content="{{ env.url or settings.url }}{{ page.url }}"/>
<meta property="og:image" content="{{ env.url or settings.url }}{{ image }}"/>
<meta property="twitter:site" content="{{ settings.author.twitter }}"/>
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:image" content="{{ env.url or settings.url }}{{ image }}"/>
