<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/> {% include "partials/favicon.njk" %}
    {% if env.node_env != 'PRODUCTION' %}
      <script defer src="https://cdn.accesslint.com/accesslint-1.1.2.js"></script>
    {% endif %}
    <link
      rel="preload stylesheet"
      as="style"
      href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css"
      media="all"
      crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
      media="all"
      rel="preload stylesheet"
      as="style"
      crossorigin="anonymous">
    {# <script src="https://unpkg.com/petite-vue" defer init></script> #}
    {% block head %}
      <title>
        {{ title or settings.subtitle }} | {{ settings.title }}
      </title>
      <meta name="description" content="{{ subtitle or settings.description }}"/> {% include "partials/open-graph.njk" %}
      {% set css %}
      {% include "src/css/critical.css" %}
      {% endset %}
      {# css #}
      <style>
        {{css | cssmin | safe}}</style>
      <link rel="stylesheet" href="/css/styles.css" media="all"/>
      <link rel="stylesheet" href="/css/elements.css" media="all"/>
      {% for styles in settings.styles %}
        <link href="{{ styles }}" rel="stylesheet" media="all"/>
      {% endfor %}
      {% if stylesheets %}
        {% for style in stylesheets %}
          <link rel="stylesheet" href="{{ style }}" media="all"/>
        {% endfor %}
      {% endif %}
    {% endblock %}
    {# load up global macros #}
    {% import "_macros/collections/featured.njk" as feature with context %}
    {% import "_macros/nav.njk" as nav with context %}
    {% include "partials/calarity.njk" %}
  </head>
  <body class="page-{{ page.fileSlug or 'home' }}">
    <header class=" header-{{ page.fileSlug or 'home' }}" style="border-bottom-style: dotted">
      {% block header %}
        {% include "partials/nav.njk" %}
      {% endblock %}
      {% block cover %}{% endblock %}
    </header>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% block footer %}
      {% include "partials/footer.njk" %}
    {% endblock %}
    {# grab any scripts in the settings.js #}
    {% if
    settings.scripts %}
      {% for src in settings.scripts %}
        <script src="{{ src }}" defer></script>
      {% endfor %}
    {% endif %}
    {# load scripts data from the page #}
    {% if scripts %}
      {% for script in scripts %}
        <script src="{{ script }}" defer></script>
      {% endfor %}
    {% endif %}
    {%- if showRecaptcha and env.form_provider ===
    "web3forms" %}
      <script src="https://www.google.com/recaptcha/api.js?render={{ env.recaptcha_key or 'key-not-found' }}"></script>
      <script>
        grecaptcha.ready(function () {
          grecaptcha.execute("{{ env.recaptcha_key }}", {action: "contact"}).then(function (token) {
            recaptchaResponse.value = token;
          });
        });
      </script>
    {% endif -%}
    {% clipboardscript %}
  </body>
</html>
