{% extends "_Layout.njk" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block cover %}{% endblock %}
{% block content %}
  <main>
    <section>
      {% if showDate %}
        Posted:
        <time datetime="{{ page.date }}">
          {{ page.date.toDateString() }}
        </time>
      {% endif %}
      <p>
        {{ content | safe }}
      </p>
    </section>
    <aside>{% include "partials/sidebar.njk" %}</aside>
  </main>
{% endblock %}
