{% extends "_Layout.njk" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main>
  <section>
    <h3>{{ title }}</h3>
    {% if showDate %} Posted:
    <time datetime="{{ page.date }}">
      {{ page.date.toDateString() }}
    </time>
    {% endif %}
    <p>
      {{ content | safe }}
    </p>
  </section>
  <aside>
    <h5>{{ settings.author.name }}</h5>
    <p class="primary">
      {{ settings.description }}
    </p>
    <hr />
    {% include "partials/sidebar.njk" %}
  </aside>
</main>
{% endblock %}
