<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title }}
      |
      {{ settings.title }}
    </title>
    <meta name="description" content="{{ settings.description }}" />
    <meta name="author" content="{{ settings.author.name }}" />
    {% set css %} {% include "src/css/critical.css" %} {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  {% import "_macros/collections/featured.njk" as feature with context %}
  <body>
    <section
      role="region"
      aria-label="Dashboard application"
      data-dashboard="data-dashboard"
    >
      <section data-sidebar="data-sidebar">
        {% include "partials/nav-sidebar.njk" %}
      </section>
      <main>
        <nav
          data-mobile="data-mobile"
          role="navigation"
          aria-label="Main navigation"
        >
          <section>
            <section data-show-mobile="data-show-mobile">
              <a
                role="button"
                aria-label="Navigation button"
                href="#sidebar"
                data-sidebar-button="data-sidebar-button"
              >
                <small>
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewbox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
                    </svg>
                  </span>
                </small>
              </a>
            </section>
            <section>
              <h1>{% include 'partials/brand.njk' %}</h1>
            </section>
          </section>
        </nav>
        <header>
          <section role="banner-">
            <div>
              <!-- <img src="img/fp.svg" alt="" /> -->
              <h2>{{ title }}</h2>
              <hr />
            </div>
          </section>
        </header>
        <section role="region" aria-label="Main content">
          {{ content | safe }}
        </section>
      </main>
    </section>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
