{% extends "base.njk" %}
<!-- cover -->
{% block cover %} {% include "partials/hero.njk" %} {% endblock %}
<!-- content -->
{% block content %}
<!--  -->
{% import "partials/feature-section.njk" as feature with context %}
{{ feature.featured() }}

{{ super() }}
{% endblock %}
<!-- sidebar -->
