{% extends "base.njk" %}
{% block cover %}
  <section>
    <h3 role="presentation">
      <i class="ti ti-grain"></i>
      {{ settings.subtitle }}
    </h3>
    <blockquote class="title-font">
      {{ settings.description }}
    </blockquote>
  </section>
  {# {% include "partials/hero.njk" %} #}
{% endblock %}
{% block content %}
  {{ feature.featured('projects', 3) }}
  {{ super() }}
{% endblock %}
