{% extends "base.njk" %}
<!-- hide cover page -->
{% block cover %}
  <section class="bg-section" style="">
    <h3 role="presentation">
      <i class="ti ti-grain"></i>
      {{ settings.subtitle }}
    </h3>
    <blockquote class="title-font">
      {{ subtitle or settings.description }}
    </blockquote>
  {% endblock %}
  {% block content %}
    {{ super() }}
    <section>
      <p style="margin-bottom: 3rem">
        <small>
          <a href="{{ env.repository }}/blob/main/{{ page.inputPath }}" target="_blank" rel="noopener nofollower" role="button">
            <span>
              <i class="ti ti-edit"></i>
              Edit this page on GitHub</span>
          </a>
        </small>
      </p>
    </section>
  {% endblock %}
