{% extends "base.njk" %}
<!-- hide cover page -->
{% block cover %}
  <section class="bg-section" style="">
    <h2>"{{ subtitle or settings.subtitle }}"</h2>
    {# {{ ePitch | log }} #}
  </section>
{% endblock %}
