{% extends "page.njk" %}
{% block content %}
  {{ super() }}
  <ol>
    {% for post in posts %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
