{% extends "page.njk" %}
{% block content %}
  {{ super() }}
  <ol>
    {% for post in posts %}
      <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}
{% block footer %}
  <p>
    <small>
      <a href="{{ env.repository }}/blob/main/{{ page.inputPath }}" target="_blank" rel="noopener nofollower" role="button">
        <span>
          <i class="ti ti-edit"></i>
          Edit this page on GitHub</span>
      </a>
    </small>
  </p>
  {{ super() }}
{% endblock %}
