{# thumbnails --500 x300 #}
{% set options = {format: 'webp', width: 800, height: 500, suffix: '-thumbs' } %}
{{ hlp.sharp.resize(['space.jpg', 'space-bg.jpg'], {format: 'webp', width: 1400px }) }}
{{ hlp.sharp.resize(['xd-kit-cov.jpg'], options ) }}
{{ hlp.sharp.resize(['pages.jpg'], opitions) }}
{{ hlp.sharp.resize(['fengine.jpg'], options) }}
