{# adds a grid styled collection to the page #}
{# attributes tag - tag, limit - number of post to display, words - word count #}
  {%- macro featured(tag = 'posts', limit = 3, words = 200) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) -%}
    <section>
      <div role="list"> {%- for item in feature %}
        <div role="listitem">
          <h3>
            <i class="{{ item.data.icon }}"></i>
            {{ item.data.title }}
          </h3>
          <p>
            {{ hlp.11ty.noHtml(item.templateContent) |
    truncate(words) }}
          </p>
        </div>
      {%- endfor %}
    </div>
  </section>
{%- endmacro -%}
