{# adds a grid styled collection to the page #}
{# attributes tag - tag, limit -
number of items, words - word count #}
  {%- macro featured(tag = 'posts', limit =
3, words = 200) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) |
reverse -%}
    <section style="margin: 3rem auto"> <div role="list">
      {%- for item in feature %}
        <div role="listitem">
          {% if item.data.coverImage %}
            <picture>
              <img loading="lazy" src="{{ hlp.sharp.coverImage(item.data.coverImage) }}" alt="{{ item.data.title | slug }}" width="500" height="300" onerror="imgError(event)"/>
            </picture>
          {% endif %}
          <section>
            <h4>
              <a href="{{ item.url }}" title="{{ item.data.title }}">
                <i class="{{ item.data.icon }}"></i>
                {{ item.data.title }}
              </a>
            </h4>
            <p>
              {{ item.data.description or item.data.subtitle or hlp.11ty.stripHtml(item.templateContent) |
    truncate(300) | safe }}
            </p>
          </section>
          {% if item.url %}
            <p>
              <a href="{{ item.url }}" role="button">
                <em>
                  Continue Reading
                  <i class="ti ti-arrow-right"></i>
                </em>
              </a>
            </p>
          {% endif %}
        </div>
      {%- endfor %}
    </div>
  </section>
{%- endmacro -%}
{%- macro postLinks(tag = 'posts', limit = 3) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) | reverse -%}
  <section>
    <span>
      <ul role="list">
        {%- for item in feature %}
          <li role="listitem">
            {% if item.data.coverimage %}
              <picture>
                <img loading="lazy" src="{{ item.data.coverImage }}" alt="item.data.title | slug"/>
              </picture>
            {% endif %}
            <h3>
              <i class="{{ item.data.icon }}"></i>
              <a href="{{ content.url }}" title="{{ item.data.title | slug }}">
                {{ item.data.title }}
              </a>
            </h3>
          </li>
        {%- endfor %}
      </ul>
    </span>
  </section>
{%- endmacro -%}
{# display a list with image/links or title #}
{# attributes
tag - tag, limit - number of items #}
{%- macro postImages(tag = 'posts', limit
= 3) -%}
  {%- set feature = hlp.11ty.limit(collections[tag], limit) | reverse -%}
  <section style="margin: 2rem 0">
    <span>
      <ul role="list">
        {%- for item in feature %}
          <li role="listitem">
            <a href="" title="{{ item.data.title | slug }}">
              {% if item.data.coverImage %}
                <picture>
                  <img loading="lazy" src="{{ item.data.coverImage }}" alt="Image" width="500" height="300"/>
                </picture>
              {% else %}
                <h3>
                  <i class="{{ item.data.icon }}"></i>
                  <a href="{{ content.url }}" title="{{ item.data.title | slug }}">
                    {{ item.data.title }}
                  </a>
                </h3>
              {% endif %}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </span>
  </section>
{%- endmacro -%}
